.navbar-brand {
    color: #fff;
}

.nav-item {
    color: #fff;
}

.filaIndex {
    width: 90%;
    height: 50%;
    margin: 60px;
    display: block;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary {
    margin: 20px;
}

.col-form-label {
    font-size: 20px;
}

.filaIndex:hover {
    box-shadow: -2px 3px 15px 12px #2E2C42;
}

.filaHead {
    display: flex;

}